{% extends "base.html" %}

{% block title %}make reservation{% endblock %}

{% block content %}

<div class="main-content" style="padding: 75px">
<div class="row">
  <div class="col-sm-4 " id="create-form">
      <form action="." method="post" class="r-form" >
        {% csrf_token %}
        <p>{{ form.as_p }}</p>

       <p><input type="submit" value="Make Reservation"></p>

      </form>
  </div>

  <div class="col-sm-8"></div>
</div>

</div>


{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
{% endblock %}

{% block page_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
  {{form.media}}
{% endblock %}