{% extends "base.html" %}
{% load staticfiles %}
      {% block content %}
  <div class="carousel slide" id="fullcarousel-example" data-interval="false"
    data-ride="carousel" style="margin-top: -30px; margin-left: -100px; margin-right: -100px">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/slider1.jpg' %}">
          <div class="carousel-caption">
            <h2>Welcome</h2>
            <p>To AUN ASABS</p>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/slider2.jpg' %}">
          <div class="carousel-caption">
            <h2>Book a Facility</h2>
            <p>Booking a Sport Facility is easier than you think</p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
    <!--<div class="section">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h1 class="text-center">Developers</h1>-->
            <!--<p class="text-center"></p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-4">-->
            <!--<img src="https://ununsplash.imgix.net/photo-1421098518790-5a14be02b243?w=1024&amp;q=50&amp;fm=jpg&amp;s=24665881d66f79925810c2deb7e486b9"-->
            <!--class="center-block img-circle img-responsive">-->
            <!--<h3 class="text-center">John Doe</h3>-->
            <!--<p class="text-center">Developer</p>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<img src="https://unsplash.imgix.net/photo-1421986527537-888d998adb74?w=1024&amp;q=50&amp;fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d"-->
            <!--class="center-block img-circle img-responsive">-->
            <!--<h3 class="text-center">John Doe</h3>-->
            <!--<p class="text-center">Developer</p>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
            <!--<img src="https://ununsplash.imgix.net/photo-1421098518790-5a14be02b243?w=1024&amp;q=50&amp;fm=jpg&amp;s=24665881d66f79925810c2deb7e486b9"-->
            <!--class="center-block img-circle img-responsive">-->
            <!--<h3 class="text-center">John Doe</h3>-->
            <!--<p class="text-center">Developer</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
   <!--</div>-->


<footer class="navbar-default navbar-fixed-bottom"  style="background-color: rgb(53,51,117); color: #fff; height: 85px; margin-top: -25px">
      <div class="container" >
        <div class="row">
          <div class="col-sm-6">
            <h3>ASABS</h3>
            <p>ASAB is an AUN Sport Activity Booking System</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}

