{% extends "base.html" %}

{% block title %}My reservations{% endblock %}

{% block content %}

<div class="main-content">
     <h1>My Reservations</h1>
    {% if not reservations %}
         <p><strong>No reservations have been made yet  </strong>
             <!--<a href="{% url 'venue_list' %}">-->
                <!--Create one here-->
             <!--</a>-->
         </p>
    {% else %}
        <table class="table table-stripped">
            <thead>
             <tr>
                 <td>Id</td>
                 <td>Facility</td>
                 <td>Start Date</td>
                 <td>End Date</td>
                 <td>Start Time</td>
                 <td>End Time</td>
                 <td>Creator</td>
             </tr>
            </thead>

            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>
                            <a href="{% url 'reservation_detail' reservation.pk %}">
                                {{ reservation.pk }}
                            </a>

                            <a href="{% url 'update_reservation' reservation.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td> {{reservation.facility }}</td>
                        <td>{{ reservation.start_time.date}}</td>
                        <td>{{ reservation.end_time.date}}</td>
                        <td>{{ reservation.start_time|time}}</td>
                        <td>{{ reservation.end_time|time}}</td>
                        <td>{{ reservation.creator}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% endif %}

    <a class="btn btn-default r-venue" href="{% url 'venue_list' %}">Reserve a Venue</a>

</div>


{% endblock %}