{% extends "base.html" %}

{% block title %}reservation time error{% endblock %}

{% block content %}
<div class="main-content">

    {% if r_start_conflict %}
     <p>Reservation Error: Reservation Start Conflict
    </p>
   {% elif r_end_conflict %}
        <p>Reservation Error: End Conflict
        </p>
   {% elif r_during_conflict %}
        <p>Reservation Error: Reservation During Conflict
        </p>
   {% else  %}
        <p>Reservation Error: Reservation Start_end Conflict
        </p>

    <p>Please check the following reservations to pick a free spot</p>

    <table class="table table-stripped">
            <thead>
             <tr>
                 <td>Id</td>
                 <td>Facility</td>
                 <td>Start Date</td>
                 <td>End Date</td>
                 <td>Start Time</td>
                 <td>End Time</td>
                 <td>Creator</td>
             </tr>
            </thead>

            <tbody>
                {% for reservation in conflicting_reservations %}
                    <tr>
                        <td>{{ reservation.pk }}</td>
                        <td> {{reservation.facility }}</td>
                        <td>{{ reservation.start_time.date}}</td>
                        <td>{{ reservation.end_time.date}}</td>
                        <td>{{ reservation.start_time|time}}</td>
                        <td>{{ reservation.end_time|time}}</td>
                        <td>{{ reservation.creator}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    <a href="{% url 'new_reservation' %}">Try again</a>
    {% endif %}
</div>

{% endblock %}