{% extends "base.html" %}

{% block title %}reservation time error{% endblock %}

{% block content %}
<div class="main-content">

    {% if r_start_conflict %}
     <p>Reservation Error: Reservation Start Conflict
        <a href="#">Try again</a>
         <a href="{% url 'free_spots' %}">Here is a list of free spots for this venue</a>
    </p>
   {% elif r_end_conflict %}
        <p>Reservation Error: End Conflict
            <a href="#">Try again</a>
        </p>
   {% elif r_during_conflict %}
        <p>Reservation Error: Reservation During Conflict
            <a href="#">Try again</a>
        </p>
   {% else  %}
        <p>Reservation Error: Reservation Start_end Conflict
            <a href="{% url 'new_reservation' %}">Try again</a>
        </p>
   {% endif %}
</div>

{% endblock %}