{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}


    <form class="form-register" action="" method="post" style="margin-bottom: -87px">
        {% if form.errors %}
         <div class="form-errors">
             {{ form.errors }}
         </div>

        {% endif %}
      {% csrf_token %}
      <div class="register-with-email">
          <div class="white-backrgound">
              <div class="form-title-row">
                  <h2>Create an account</h2>

              <div class="form-row" style="margin-top: 23px">
                  <label>
                      <span>User Name</span>
                      {{ user_form.username }}

                      {% if user_form.username.errors %}
                                {% for error in user_form.username.errors %}
                                     <div class="errorlist">
                                         <strong>{{ error|escape }}</strong>
                                     </div>
                                {% endfor %}
                            {% endif %}
                  </label>

              </div>

              <div class="form-row">
                  <label>
                      <span>Email</span>
                      {{ user_form.email }}

                      {% if user_form.email.errors %}
                                {% for error in user_form.email.errors %}
                                     <div class="errorlist">
                                         <strong>{{ error|escape }}</strong>
                                     </div>
                                {% endfor %}
                            {% endif %}
                  </label>

              </div>

              <div class="form-row">
                  <label>
                      <span>Password</span>
                      {{ user_form.password }}

                      {% if user_form.password.errors %}
                                {% for error in user_form.password.errors %}
                                     <div class="errorlist">
                                         <strong>{{ error|escape }}</strong>
                                     </div>
                                {% endfor %}
                            {% endif %}
                  </label>

              </div>

              <div class="form-row">
                  <label>
                      <span>Repeat Password</span>
                      {{ user_form.password2 }}

                      {% if user_form.password2.errors %}
                                {% for error in user_form.password2.errors %}
                                     <div class="errorlist">
                                         <strong>{{ error|escape }}</strong>
                                     </div>
                                {% endfor %}
                            {% endif %}
                  </label>

              </div>

              <div class="form-row" style="margin-top: -35px">
                        <button type="submit">Register</button>
              </div>


              <a href="{% url 'login' %}" class="form-log-in-with-existing">Already have an account? Login here &rarr;</a>


        </div>

          </div>


      </div>

    </form>



{% endblock %}
